body {
  font-family: "Lato", sans-serif;
  margin: 0px;
}

/****************************
**** START DESKTOP NAV 1 ****
****************************/
.desktop-nav-1 {
  background: #fefefe;
  position: fixed;
  height: 100vh;
  width: 70px;
  z-index: 4;
}
.desktop-nav-1 .side-nav-1-container span {
  display: block;
  text-align: center;
}
.desktop-nav-1 .side-nav-1-container .top {
  color: #222;
  margin-top: 4vh;
  font-size: 24px;
}
.desktop-nav-1 .side-nav-1-container .top .up {
  cursor: default;
  font-size: 35px;
  transition: .25s all;
}
.desktop-nav-1 .side-nav-1-container .top .red-hover:hover {
  color: #e3001c !important;
}
.desktop-nav-1 .side-nav-1-container .bottom {
  margin-top: 61vh;
}
.desktop-nav-1 .side-nav-1-container .bottom span {
  color: #222;
  font-size: 17px;
  margin-top: 20px;
  transition: .25s all;
}
.desktop-nav-1 .side-nav-1-container .bottom span:hover {
  color: #e3001c;
}
.desktop-nav-1 .hamburger-div {
  display: inline-block;
  padding-left: 23px;
  margin-bottom: 5vh;
}
.desktop-nav-1 .hamburger-div .hamburger0 .line {
  width: 25px;
  height: 4px;
  background-color: #222;
  display: block;
  margin: 5px 0px 0px 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.desktop-nav-1 .hamburger-div .hamburger0:hover {
  cursor: pointer;
}
.desktop-nav-1 .hamburger-div .hamburger0:hover .line {
  background-color: #e3001c;
}
.desktop-nav-1 .hamburger-div #hamburger0 {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.desktop-nav-1 .hamburger-div #hamburger0.is-active {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.desktop-nav-1 .hamburger-div #hamburger0.is-active .line:nth-child(1) {
  width: 13px;
}
.desktop-nav-1 .hamburger-div #hamburger0.is-active .line:nth-child(2) {
  width: 19px;
}

/****************************
****  END DESKTOP NAV 1  ****
****************************/

/****************************
**** START DESKTOP NAV 2 ****
****************************/
.desktop-nav-2 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background: #fefefe;
  left: 70px;
  height: 100vh;
  padding: 4vh 20px;
  position: fixed;
  width: 190px;
  z-index: 3;
}
.desktop-nav-2 span {
  display: block;
}
.desktop-nav-2 .title {
  color: #222;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 3vh;
  position: relative;
  text-decoration: none;
  top: -2px;
  transition: .25s all;
}
.desktop-nav-2 .title b {
  font-weight: 900;
}
.desktop-nav-2 .link {
  color: #222;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 10px;
  text-transform: lowercase;
  transition: .25s all;
}
.desktop-nav-2 .title:hover, .desktop-nav-2 .link:hover, .desktop-nav-2 a {
  text-decoration: none;
  color: #e3001c;
}

/****************************
****  END DESKTOP NAV 2  ****
****************************/
/***************************
**** START MOBILE NAV 1 ****
****************************/
.mobile-nav-1 {
  background: #fefefe;
  position: fixed;
  width: 100%;
  z-index: 5;
}
.mobile-nav-1 .hamburger-div {
  display: inline-block;
  padding: 10px 0px 10px 26px;
}
.mobile-nav-1 .hamburger-div .hamburger1 .line {
  width: 25px;
  height: 4px;
  background-color: #222;
  display: block;
  margin: 5px 0px 0px 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mobile-nav-1 .hamburger-div .hamburger1:hover {
  cursor: pointer;
}
.mobile-nav-1 .hamburger-div .hamburger1:hover .line {
  background: #e3001c;
}
.mobile-nav-1 .hamburger-div #hamburger1 {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mobile-nav-1 .hamburger-div #hamburger1.is-active {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.mobile-nav-1 .hamburger-div #hamburger1.is-active .line:nth-child(1) {
  width: 13px;
}
.mobile-nav-1 .hamburger-div #hamburger1.is-active .line:nth-child(2) {
  width: 19px;
}
.mobile-nav-1 .title {
  font-size: 28px;
  margin-left: 16px;
  position: relative;
  top: -10px;
}
.mobile-nav-1 .title b {
  font-weight: 900;
}

/***************************
****  END MOBILE NAV 1  ****
****************************/
/***************************
**** START MOBILE NAV 2 ****
****************************/
.mobile-nav-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #fefefe;
  height: 100vh;
  padding-top: 85px;
  padding-left: 70px;
  position: fixed;
  width: 280px;
  z-index: 4;
}
.mobile-nav-2 .link {
  color: #222;
  display: block;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 15px;
  text-transform: lowercase;
  transition: .25s all;
}
.mobile-nav-2 .link:hover, .mobile-nav-2 a:hover {
  color: #e3001c;
  text-decoration: none;
}

/***************************
****  END MOBILE NAV 2  ****
****************************/
/***************************
**** START MAIN CONTENT ****
***************************/
/***************************
****  END MAIN CONTENT  ****
***************************/
/********************
**** START JUMBO ****
********************/
.jumbo {
  height: 100vh;
  background: #e0e0e0;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/jumbo-bg.jpeg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.jumbo .site-name {
  color: #fefefe;
  cursor: pointer;
  display: inline-block;
  margin-top: 28px;
  margin-left: 40px;
  font-size: 30px;
  font-weight: 300;
  transition: .25s all;
}
.jumbo .site-name b {
  font-weight: 900;
}
.jumbo .contact-btn {
  background: transparent;
  border: solid;
  border-color: white;
  border-width: 2px;
  color: #fefefe;
  cursor: pointer;
  padding: 10px 15px;
  position: absolute;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  top: 35px;
  right: 40px;
  text-transform: uppercase;
  transition: .35s;
}
.jumbo .contact-btn:hover {
  background: #fefefe;
  color: #222;
  font-weight: 400;
}
.jumbo .title {
  color: #fefefe;
  display: block;
  font-size: 60px;
  font-weight: 400;
  line-height: 65px;
  padding: 24vh 20px 0px 20px;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
}

@media(min-width: 567px){
  .jumbo .title{
    font-size: 86px;
    line-height: 90px;
  }
  .jumbo .subtitle{
    font-size: 20px;
    line-height: 33px;
  }
}

.jumbo .subtitle {
  color: #D9D9D9;
  display: block;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  margin-top: 25px;
  padding: 20px 20px 0px 20px;
  text-align: center;
}
.jumbo .subtitle-div {
  max-width: 800px;
  margin: 0 auto;
}

/********************
****  END JUMBO  ****
********************/
/***********************
**** START PROJECTS ****
***********************/
.projects {
  background: #e0e0e0;
  padding-top: 12vh;
}
.projects .text-div .title {
  display: block;
  font-size: 50px;
  font-weight: 300;
}
.projects .text-div .subtitle {
  color: #222;
  display: block;
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
}
.projects .row {
  margin-top: 7vh;
}
.projects .row .c-card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: red;
  padding: 40px 12px 80px 12px;
  height: 96%;
}
.projects .row .c-card hr {
  border-color: white;
  border-width: 3px;
  width: 40px;
}
.projects .row .c-card .title {
  color: white;
  display: block;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 80px;
  text-transform: uppercase;
}
.projects .row .c-card .subtitle {
  color: white;
  display: block;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1.5px;
  margin-top: 30px;
}
.projects .row .c-card .c-button {
  background: transparent;
  border: solid;
  border-color: #fefefe;
  border-width: 2px;
  color: #fefefe;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 70px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: .25s all;
}
.projects .row .c-card .c-button:hover {
  background: #fefefe;
  cursor: pointer;
  color: #222;
  font-weight: 400;
}
.projects .row .c-card .c-button:focus {
  outline: none;
}
.projects .row .c-0 {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("/img/the-planets-bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.projects .row .c-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("unheard-language-bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.projects .row .c-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("https://images.pexels.com/photos/299374/pexels-photo-299374.jpeg?h=350&auto=compress&cs=tinysrgb") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.projects .row .c-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("https://images.pexels.com/photos/196081/pexels-photo-196081.jpeg?h=350&auto=compress&cs=tinysrgb") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.projects .c-gutters {
  margin-right: 8px;
  margin-left: 8px;
}
.projects .c-gutters > .col, .projects .c-gutters > [class*="col-"] {
  padding-right: 8px;
  padding-left: 8px;
}
.projects .big-proj {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("smallclaw-bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 5vh;
  padding: 20vh 20px 12vh 20px;
}
.projects .big-proj .title {
  color: white;
  display: block;
  font-size: 70px;
  font-weight: 300;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.36);
}
.projects .big-proj .subtitle {
  color: white;
  display: block;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
}

@media(min-width: 567px){
  .projects .big-proj .subtitle{
    font-size: 20px;
  }
}

.projects .big-proj button {
  color: white;
  cursor: pointer;
  background: #222;
  border: none;
  border-radius: 2px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 12vh;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: .25s all;
}
.projects .big-proj button:focus {
  outline: none;
}
.projects .big-proj button:hover {
  background: #fefefe;
  color: #222;
  font-weight: 400;
}

/***********************
****  END PROJECTS  ****
***********************/
/*******************
**** START PENS ****
*******************/
.pens {
  padding-top: 8vh;
  padding-bottom: 6vh;
}
.pens .text-div .title {
  display: block;
  font-size: 50px;
  font-weight: 300;
}
.pens .text-div .subtitle {
  color: #222;
  display: block;
  font-size: 18px;
  font-weight: 300;
  margin-top: 4vh;
}
.pens .pen-carousel {
  margin-top: 4vh;
  padding-left: 10px;
  padding-right: 10px;
}
.pens .pen-carousel a {
  text-decoration: none;
}
.pens .pen-carousel .c-card-container {
  height: 200px;
  padding: 0px 5px;
}
.pens .pen-carousel .c-card {
  background: #222;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.pens .pen-carousel .c-card .title {
  color: white;
  display: block;
  position: relative;
  top: 155px;
  left: 25px;
  transition: .25s all;
}
.pens .pen-carousel .c-card:hover .title {
  font-size: 18px;
}
.pens .pen-carousel .c-0 {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/566003/Rilke%20-%20Cacti2.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.pens .pen-carousel .c-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/566003/Rilke%20-%20Cacti2.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.pens .pen-carousel .c-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/566003/Rilke%20-%20Cacti2.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.pens .pen-carousel .c-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/566003/Rilke%20-%20Cacti2.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.pens .pen-carousel .c-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/566003/Rilke%20-%20Cacti2.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.pens .pen-carousel .c-5 {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/566003/Rilke%20-%20Cacti2.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.pens button {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  height: 200px;
  top: 0px;
  width: 40px;
  z-index: 2;
}
.pens button:focus {
  outline: none;
}
.pens .slick-next {
  right: 2px;
}
.pens .slick-prev {
  left: 5px;
}

/*******************
****  END PENS  ****
*******************/
/********************
**** START ABOUT ****
********************/
.about .red-div {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../img/rilke-cacti.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  padding: 20vh 20px 150px 20px;
}
.about .red-div .title {
  color: white;
  display: block;
  font-size: 50px;
  font-weight: 300;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.36);
}

@media (min-width: 567px){
  .about .red-div .title{
    font-size: 70px;
  }
}

.about .red-div .subtitle {
  color: white;
  display: block;
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
}
.about .grey-div {
  background: #e0e0e0;
  padding-bottom: 12vh;
}
.about .img-div img {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: solid;
  border-color: white;
  border-radius: 100%;
  border-width: 6px;
  position: relative;
  top: -70px;
  transition: .25s all;
  width: 190px;
  z-index: 2;
}
.about .card-container {
  padding: 0 20px;
}
.about .c-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: white;
  max-width: 600px;
  margin: 0 auto;
  padding: 120px 30px 80px 30px;
  position: relative;
  margin-top: -165px;
}
.about .c-card .social-link {
  color: #222;
  display: inline-block;
  font-size: 26px;
  margin: 0 8px;
}
.about .c-card .social-link a {
  color: #222;
  text-decoration: none;
  transition: .25s all;
}
.about .c-card .social-link a:hover {
  color: #e3001c;
}
.about .c-card .bio-div {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
}

/*******************
****  END ABOUT ****
*******************/
/**********************
**** START CONTACT ****
**********************/
.contact {
  padding: 8vh 20px 14vh 20px;
}
.contact .text-div .title {
  display: block;
  font-size: 50px;
  font-weight: 300;
}
.contact .text-div .subtitle {
  color: #222;
  display: block;
  font-size: 18px;
  font-weight: 300;
  margin-top: 1vh;
  margin-bottom: 7vh;
}
.contact .c-form {
  max-width: 600px;
  margin: 0 auto;
}
.contact input, .contact textarea {
  margin-bottom: 25px;
  width: 100%;
}
.contact input::placeholder, .contact textarea::placeholder, .contact button {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.contact input, .contact textarea {
  padding: 5px 10px;
  border: none;
  border-bottom: solid;
  border-width: 1px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.contact input:focus, .contact textarea:focus {
  outline: none;
}
.contact button {
  background: #222;
  border-color: #222;
  border-radius: 3px;
  border-width: 2px;
  cursor: pointer;
  color: #fefefe;
  width: 150px;
  margin: 0 auto;
  margin-top: 3vh;
  padding: 10px;
  text-transform: uppercase;
  transition: .25s all;
}
.contact button:hover {
  background: #fefefe;
  border-color: #222;
  color: #222;
  font-weight: 400;
}
.contact button:focus {
  outline: none;
}

/**********************
****  END CONTACT  ****
**********************/
/*********************
**** START FOOTER ****
*********************/
.footer {
  background: #222;
  color: white;
  padding: 14vh 0px 8vh 0px;
}
.footer .title, .footer .note, .footer .follow {
  display: block;
}
.footer .title {
  font-size: 35px;
  letter-spacing: 1px;
}
.footer .title b {
  font-weight: 900;
}
.footer .note {
  color: #e0e0e0;
  font-size: 14px;
  font-weight: 400;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
}
.footer .follow {
  color: #e0e0e0;
  font-size: 14px;
  margin-top: 30px;
}
.footer .social-media {
  margin-top: 22px;
}
.footer .social-media .social-link {
  font-size: 28px;
  margin: 0 8px;
}
.footer .social-media .social-link a {
  color: #fefefe;
  text-decoration: none;
  transition: .25s all;
}
.footer .social-media .social-link a:hover {
  color: #e3001c;
}

/*********************
****  END FOOTER  ****
*********************/
/****************************
**** GENERIC CSS CLASSES ****
****************************/
.card-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@media (min-width: 567px) {
  .desktop-left-padding {
    padding-left: 70px;
  }
}

@media (max-width: 567px) {
  .hidden-sm-low {
    display: none;
  }
}
.hidden-sm-up {
  display: block;
}

@media (min-width: 567px) {
  .hidden-sm-up {
    display: none;
  }
}
