body {
  font-family: "Roboto", sans-serif;
}

.small-gutter {
  margin-right: 3px;
  margin-left: 3px;
}
.small-gutter .col,
.small-gutter [class*="col-"] {
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
}

h1 {
  font-size: 3em;
  font-weight: 600;
  letter-spacing: -1px;
  color: black;
}

.navigation {
  -webkit-transition: background-color .5s;
  /* Safari */
  transition: background-color .5s;
  padding-bottom: 16px;
}
.navigation .navbar {
  padding: 0%;
  padding-top: 18px;
  padding-bottom: .5%;
}
.navigation button {
  margin-top: 2%;
  border-color: transparent !important;
}
.navigation .navbar-brand a {
  color: black;
  font-weight: 600;
}
.navigation .rLogo {
  background-color: #E3001C;
  color: white !important;
  font-weight: 400 !important;
  margin-right: 15px;
  padding: 10px 12px;
}
.navigation span {
  color: black;
}
.navigation .navbar-light .navbar-nav .nav-link {
  color: black;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: .9em;
  text-transform: uppercase;
  margin-left: 25px;
  -webkit-transition: color .25s;
  /* Safari */
  transition: color .25s;
}
.navigation .navbar-toggler-right {
  right: 0rem;
}
.navigation .navbar-toggler {
  padding: 0px;
}
.navigation .nav-link:hover,
.navigation .nav-link:focus {
  color: black !important;
}
.navigation li {
  font-size: .9em;
}

.frontpage {
  color: black;
  height: 100vh;
  padding-top: 30vh;
}
.frontpage hr {
  float: left;
  border: none;
  height: 10px;
  /* Set the hr color */
  color: #333;
  /* old IE */
  background-color: #333;
  /* Modern Browsers */
}
.frontpage button {
  border-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 16px 3px;
  padding: 8px 25px 7px 25px;
  text-transform: uppercase;
}
.frontpage .workButton {
  color: black;
  border-style: solid;
  border-color: black;
  background-color: white !important;
  -webkit-transition: color .4s, background-color .4s;
  /* Safari */
  transition: color .4s, background-color .4s;
}
.frontpage .workButton:hover {
  color: white;
  border-color: #E3001C;
  background-color: #E3001C !important;
}
.frontpage .contactButton {
  color: white;
  background-color: black;
  border-style: solid;
  border-color: black;
  -webkit-transition: color .4s, background-color .4s;
  /* Safari */
  transition: color .4s, background-color .4s;
}
.frontpage .contactButton:hover {
  color: white;
  background-color: #E3001C;
  border-color: #E3001C;
}

.underline {
  position: relative;
}
.underline:hover, .underline:focus, .underline:active {
  cursor: pointer;
}
.underline:hover:after, .underline:focus:after, .underline:active:after {
  width: 100%;
}
.underline:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 4px;
  height: 3px;
  background-color: #000;
  width: 0;
  transition: width .4s;
}

.thin-underline {
  position: relative;
}
.thin-underline:hover, .thin-underline:focus, .thin-underline:active {
  cursor: pointer;
}
.thin-underline:hover:after, .thin-underline:focus:after, .thin-underline:active:after {
  width: 100%;
}
.thin-underline:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 4px;
  height: 1px;
  background-color: #000;
  width: 0;
  transition: width .4s;
}

.work img {
  width: 100%;
}
.work h1 {
  color: #E3001C;
  padding-top: 90px;
}
.work p {
  font-weight: 300;
  font-size: 1.1em;
  margin-top: 25px;
  color: #6F6F6F;
  line-height: 35px;
  text-align: justify;
}

.about .top-padding {
  padding-top: 90px;
}
.about h1 {
  color: #E3001C;
  padding-top: 90px;
}
.about p {
  font-weight: 300;
  font-size: 1.1em;
  margin-top: 25px;
  color: #6F6F6F;
  line-height: 35px;
  text-align: justify;
}
.about img {
  width: 100%;
}
.about h3 {
  margin-top: 40px;
}

.contact {
  margin-top: 65px;
  padding-top: 120px;
  margin-bottom: 200px;
}
.contact h1 {
  color: #E3001C;
}
.contact p {
  font-weight: 300;
  font-size: 1.1em;
  margin-top: 40px;
  margin-bottom: 80px;
  color: #6F6F6F;
  line-height: 35px;
}
.contact input, .contact textarea {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  border: none;
  border-bottom: solid;
  border-color: #DEDEDE;
  border-width: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: border-color .4s;
  /* Safari */
  transition: border-color .4s;
}
.contact .submit {
  margin-top: 40px;
  background-color: transparent;
  width: 220px;
  border-style: none;
  border-left: solid;
  border-width: 8px;
  border-color: #E3001C;
  font-size: 1.8em;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
}
.contact .fa-long-arrow-right {
  color: #E3001C;
  font-size: 1.3em;
  padding-left: 15px;
}
.contact input:hover, .contact textarea:hover {
  border-color: #6F6F6F;
}
.contact input::-webkit-input-placeholder, .contact textarea::-webkit-input-placeholder {
  color: black;
  font-size: 1.1em;
}
.contact input:-moz-placeholder, .contact textarea:-moz-placeholder {
  /* Firefox 18- */
  color: black;
  font-size: 1.1em;
}
.contact input::-moz-placeholder, .contact textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
  font-size: 1.1em;
}
.contact input:-ms-input-placeholder {
  color: black;
  font-size: 1.1em;
}

.footer {
  padding-top: 30px;
  padding-bottom: 1px;
  background-color: black;
  font-family: "Roboto", sans-serif;
}
.footer h4 {
  color: white;
  padding: 0%;
  font-size: 1em;
}
.footer p {
  color: #aaa;
  font-size: .8em;
  font-weight: 400;
  margin-top: 15px;
}

.hidden-mobile {
  display: none;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 5.5em;
  }

  .hidden-mobile {
    display: block;
  }

  .navigation .top-line {
    padding-top: 0px;
  }

  .contact .container, .about .container {
    width: 60%;
  }
}
