// COLORS
$white: #fefefe;
$blk: #222;
$blk-2: #222;
$grey: #e0e0e0;
$red: #e3001c;
$red-light: #F7B9C1;

// FONTS
$lato: "Lato", sans-serif;
$roboto: "Roboto", sans-serif;
$fw-0: 300;
$fw-1: 400;
$fw-2: 700;
$fw-3: 900;

@mixin perfectBG ($imgSrc, $shadow) {
  background: linear-gradient(rgba(0, 0, 0, $shadow), rgba(0, 0, 0, $shadow)),
    url($imgSrc) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin cardShadow($shadowDepth){
  @if($shadowDepth == 1){
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  } @else if ($shadowDepth == 2){
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  } @else if ($shadowDepth == 3){
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}




body {
  font-family: $lato;
  margin: 0px;
}

$nav-bg: $white;
$nav-text-color: $blk;

$desktop-nav-width: 70px;


/****************************
**** START DESKTOP NAV 1 ****
****************************/
.desktop-nav-1 {
  background: $nav-bg;
  position: fixed;
  height: 100vh;
  width: $desktop-nav-width;
  z-index: 4;

  .side-nav-1-container {
    span {
      display: block;
      text-align: center;
    }
    .top {
      color: $nav-text-color;
      margin-top: 4vh;
      font-size: 24px;
      .up {
        cursor: default;
        font-size: 35px;
        transition: .25s all;
      }
      .red-hover:hover{
        color: $red !important;
      }
      
    }

    .bottom {
      margin-top: 61vh;
      span {
        color: $nav-text-color;
        font-size: 17px;
        margin-top: 20px;
        transition: .25s all;
      }
      
      span:hover{
        color: $red;
      }
    }
  }

  .hamburger-div {
    display: inline-block;
    padding-left: 23px;
    margin-bottom: 5vh;

    .hamburger0 .line {
      width: 25px;
      height: 4px;
      background-color: $nav-text-color;
      display: block;
      margin: 5px 0px 0px 0px;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    .hamburger0:hover {
      cursor: pointer;
      
      .line{
        background-color: $red;
      }
    }

    #hamburger0 {
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    #hamburger0.is-active {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    #hamburger0.is-active .line:nth-child(1) {
      width: 13px;
    }

    #hamburger0.is-active .line:nth-child(2) {
      width: 19px;
    }
  }
}
/****************************
****  END DESKTOP NAV 1  ****
****************************/

/****************************
**** START DESKTOP NAV 2 ****
****************************/
.desktop-nav-2 {
  @include cardShadow(3);
  
  background: $nav-bg;
  left: $desktop-nav-width;
  height: 100vh;
  padding: 4vh 20px;
  position: fixed;
  width: 190px;
  z-index: 3;

  span {
    display: block;
  }

  .title {
    color: $nav-text-color;
    font-size: 30px;
    font-weight: $fw-1;
    margin-bottom: 3vh;
    position: relative;
    text-decoration: none;
    top: -2px;
    transition: .25s all;
    b {
      font-weight: $fw-3;
    }
  }

  .link {
    color: $nav-text-color;
    font-size: 25px;
    font-weight: $fw-0;
    margin-bottom: 10px;
    text-transform: lowercase;
    transition: .25s all;
  }
  
  .title:hover, .link:hover, a{
    text-decoration: none;
    color: $red;
  }
}
/****************************
****  END DESKTOP NAV 2  ****
****************************/

/***************************
**** START MOBILE NAV 1 ****
****************************/
.mobile-nav-1 {
  background: $white;
  position: fixed;
  width: 100%;
  z-index: 5;
  .hamburger-div {
    display: inline-block;
    padding: 10px 0px 10px 26px;

    .hamburger1 .line {
      width: 25px;
      height: 4px;
      background-color: $nav-text-color;
      display: block;
      margin: 5px 0px 0px 0px;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    .hamburger1:hover {
      cursor: pointer;
      .line{
        background: $red;
      }
      
    }

    #hamburger1 {
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    #hamburger1.is-active {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    #hamburger1.is-active .line:nth-child(1) {
      width: 13px;
    }

    #hamburger1.is-active .line:nth-child(2) {
      width: 19px;
    }
  }

  .title {
    font-size: 28px;
    margin-left: 16px;
    position: relative;
    top: -10px;
    b {
      font-weight: $fw-3;
    }
  }
}
/***************************
****  END MOBILE NAV 1  ****
****************************/

/***************************
**** START MOBILE NAV 2 ****
****************************/
.mobile-nav-2 {
  @include cardShadow(2);
  
  background: $white;
  height: 100vh;
  padding-top: 85px;
  padding-left: 70px;
  position: fixed;
  width: 280px;
  z-index: 4;

  .link {
    color: $blk;
    display: block;
    font-size: 24px;
    font-weight: $fw-0;
    margin-bottom: 15px;
    text-transform: lowercase;
    transition: .25s all;
  }
  
  .link:hover, a:hover{
    color: $red;
    text-decoration: none;
  }
}
/***************************
****  END MOBILE NAV 2  ****
****************************/

/***************************
**** START MAIN CONTENT ****
***************************/
.main-content {
}
/***************************
****  END MAIN CONTENT  ****
***************************/

/********************
**** START JUMBO ****
********************/
.jumbo {
  height: 100vh;
  background: $grey;
  @include perfectBG("https://s3-us-west-2.amazonaws.com/s.cdpn.io/566003/Rilke - Tree.jpg", .65);

  .site-name{
    color:$white;
    cursor: pointer;
    display: inline-block;
    margin-top: 28px;
    margin-left: 40px;
    font-size: 30px;
    font-weight: $fw-0;
    transition: .25s all;
    b{
      font-weight: $fw-3;
    }
  }
  
  .contact-btn{
    background: transparent;
    border:solid;
    border-color: white;
    border-width: 2px;
    color: $white;
    cursor: pointer;
    padding: 10px 15px;
    position: absolute;
    font-size: 14px;
    font-family: $lato;
    font-weight: $fw-0;
    top: 35px;
    right: 40px;
    text-transform: uppercase;
    transition: .35s;
  }
  
  .contact-btn:hover{
    background: $white;
    color: $blk;
    font-weight: $fw-1;
  }
  
  .title {
    color: $white;
    display: block;
    font-size: 86px;
    font-weight: $fw-1;
    line-height: 90px;
    padding: 24vh 20px 0px 20px;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  }

  .subtitle {
    color: #D9D9D9;
    display: block;
    font-size: 20px;
    font-weight: $fw-0;
    line-height: 33px;
    margin-top: 25px;
    padding: 20px 30px 0px 30px;
    text-align: center;
  }

  .subtitle-div {
    max-width: 800px;
    margin: 0 auto;
  }
  
  
  
  
}
/********************
****  END JUMBO  ****
********************/

/***********************
**** START PROJECTS ****
***********************/
.projects {
  background: $grey;
  padding-top: 12vh;

  .text-div {
    .title {
      display: block;
      font-size: 50px;
      font-weight: $fw-0;
    }
    .subtitle {
      color: $blk-2;
      display: block;
      font-size: 18px;
      font-weight: $fw-0;
      margin-top: 20px;
    }
  }

  .row {
    margin-top: 7vh;
    // padding: 0px 50px;
    .c-card {
      @include cardShadow(2);
      background: red;
      padding: 40px 12px 80px 12px;
      height: 96%;

      hr {
        border-color: white;
        border-width: 3px;
        width: 40px;
      }

      .title {
        color: white;
        display: block;
        font-size: 25px;
        font-weight: $fw-2;
        letter-spacing: 2px;
        margin-top: 80px;
        text-transform: uppercase;
      }

      .subtitle {
        color: white;
        display: block;
        font-size: 18px;
        font-weight: $fw-0;
        letter-spacing: 1.5px;
        margin-top: 30px;
      }

      .c-button {
        background: transparent;
        border: solid;
        border-color: $white;
        border-width: 2px;
        color: $white;
        font-family: $lato;
        font-size: 16px;
        font-weight: $fw-0;
        margin-top: 70px;
        padding: 10px 20px;
        text-transform: uppercase;
        transition: .25s all;
      }
      
      .c-button:hover{
        background: $white;
        cursor: pointer;
        color: $blk;
        font-weight: $fw-1;
      }
      
      .c-button:focus {outline:none;}
    }

    .c-0 {
      @include perfectBG("https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg?h=350&auto=compress&cs=tinysrgb", .25);
    }
    .c-1 {
      @include perfectBG("https://images.pexels.com/photos/247646/pexels-photo-247646.jpeg?h=350&auto=compress&cs=tinysrgb", .25);
    }
    .c-2 {
      @include perfectBG("https://images.pexels.com/photos/299374/pexels-photo-299374.jpeg?h=350&auto=compress&cs=tinysrgb", .25);
    }
    .c-3 {
      @include perfectBG("https://images.pexels.com/photos/196081/pexels-photo-196081.jpeg?h=350&auto=compress&cs=tinysrgb", .25);
    }
  }

  .c-gutters {
    margin-right: 8px;
    margin-left: 8px;

    > .col, > [class*="col-"] {
      padding-right: 8px;
      padding-left: 8px;
    }
  }

  .big-proj {
    @include perfectBG("https://images.pexels.com/photos/34107/milky-way-stars-night-sky.jpg?w=1260&h=750&auto=compress&cs=tinysrgb", .35);
    margin-top: 5vh;
    padding: 20vh 20px 12vh 20px;

    .title {
      color: white;
      display: block;
      font-size: 70px;
      font-weight: $fw-0;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.36);
    }

    .subtitle {
      color: white;
      display: block;
      font-size: 20px;
      font-weight: $fw-0;
      margin-top: 10px;
    }

    button {
      color: white;
      cursor: pointer;
      background: $blk-2;
      border: none;
      border-radius: 2px;
      font-family: $lato;
      font-weight: $fw-0;
      letter-spacing: 1px;
      margin-top: 12vh;
      padding: 15px 30px;
      text-transform: uppercase;
      transition: .25s all;
    }
    button:focus {outline:none;}
    
    button:hover{
      background: $white;
      color: $blk;
      font-weight: $fw-1;
    }
  }
}
/***********************
****  END PROJECTS  ****
***********************/

/*******************
**** START PENS ****
*******************/
.pens{
  padding-top: 8vh;
  padding-bottom: 6vh;
  .text-div{
    .title{
      display: block;
      font-size: 50px;
      font-weight: $fw-0;
    }
    
    .subtitle {
      color: $blk-2;
      display: block;
      font-size: 18px;
      font-weight: $fw-0;
      margin-top: 4vh;
    }
  }
  
  .pen-carousel{
    margin-top: 4vh;
    padding-left: 10px;
    padding-right: 10px;
    a{
      text-decoration: none;
    }
    
    .c-card-container{
      height: 200px;
      padding: 0px 5px;
    }
    .c-card {
      background: $blk;
      cursor: pointer;
      height: 100%;
      width: 100%;
      .title{
        color:white;
        display: block;
        position: relative;
        top: 155px;
        left: 25px;
        transition: .25s all;
      }
    }
    
    .c-card:hover{
      .title{
        font-size: 18px;
      }
    }
    
    
    .c-0{
      @include perfectBG("https://s3-us-west-2.amazonaws.com/s.cdpn.io/566003/Rilke%20-%20Cacti2.jpg", .35)
    }
    
    
    
    .c-1{
      @include perfectBG("https://s3-us-west-2.amazonaws.com/s.cdpn.io/566003/Rilke%20-%20Cacti2.jpg", .35)
    }
    
    .c-2{
      @include perfectBG("https://s3-us-west-2.amazonaws.com/s.cdpn.io/566003/Rilke%20-%20Cacti2.jpg", .35)
    }
    
    .c-3{
      @include perfectBG("https://s3-us-west-2.amazonaws.com/s.cdpn.io/566003/Rilke%20-%20Cacti2.jpg", .35)
    }
    
    .c-4{
      @include perfectBG("https://s3-us-west-2.amazonaws.com/s.cdpn.io/566003/Rilke%20-%20Cacti2.jpg", .35)
    }
    
    .c-5{
      @include perfectBG("https://s3-us-west-2.amazonaws.com/s.cdpn.io/566003/Rilke%20-%20Cacti2.jpg", .35)
    }
    
    
  }
  
  button{
    background: rgba(0,0,0, .7);
    border:none;
    color: white;
    cursor: pointer;
    position: absolute;
    height: 200px;
    top:0px;
    width: 40px;
    z-index: 2;
  }
  button:focus {outline:none;}
  
  .slick-next{
    right: 2px;
  }
  
  .slick-prev{
    left: 5px;
  }
}
/*******************
****  END PENS  ****
*******************/

/********************
**** START ABOUT ****
********************/
.about {
  .red-div{
    @include cardShadow(3);
    @include perfectBG("/img/rilke-cacti.jpg", .45);
    text-align: center;
    padding: 20vh 20px 150px 20px;
    .title{
      color: white;
      display: block;
      font-size: 70px;
      font-weight: $fw-0;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.36);
    }

    .subtitle {
      color: white;
      display: block;
      font-size: 18px;
      font-weight: $fw-0;
      margin-top: 10px;
    }
  }
  
  .grey-div{
    background: $grey;
    padding-bottom: 12vh;
  }
  
  .img-div{
    img{
      @include cardShadow(2);
      border:solid;
      border-color: white;
      border-radius: 100%;
      border-width: 6px;
      position: relative;
      top: -70px;
      transition: .25s all;
      width: 190px;
      z-index: 2;
    }
  }
  
  
  .card-container{
    padding: 0 20px;
  }
  
  .c-card{
    @include cardShadow(1);
    background: white;
    max-width: 600px;
    margin: 0 auto;
    padding: 120px 30px 80px 30px;
    position: relative;
    margin-top: -165px;
    
    .social-link{
      color: $blk;
      display: inline-block;
      font-size: 28px;
      margin: 0 8px;
      
      a{
        color: $blk;
        text-decoration: none;
        transition: .25s all;
      }
      
      a:hover{
        color: $red;
      }
      
    }
    
    .bio-div{
      max-width: 400px;
      margin: 0 auto;
      margin-top: 20px;
    }
    
  }
  
}
/*******************
****  END ABOUT ****
*******************/

/**********************
**** START CONTACT ****
**********************/
.contact {
  padding: 8vh 20px 14vh 20px;
  .text-div{
    .title{
      display: block;
      font-size: 50px;
      font-weight: $fw-0;
    }
    
    .subtitle {
      color: $blk-2;
      display: block;
      font-size: 18px;
      font-weight: $fw-0;
      margin-top: 1vh;
      margin-bottom: 7vh;
    }
  }
  
  .c-form{
    max-width: 600px;
    margin: 0 auto;
  }
  
  input, textarea{
    margin-bottom: 25px;
    width: 100%;
  }
  
  input::placeholder, textarea::placeholder, button{
    font-family: $lato;
    font-weight: $fw-0;
  }
  
  input, textarea{
    padding: 5px 10px;
    border: none;
    border-bottom: solid;
    border-width: 1px;
    font-family: $lato;
    font-weight: $fw-0;
  }
  input:focus, textarea:focus {outline:none;}
  
  button{
    background: $blk-2;
    border-color: $blk;
    border-radius: 3px;
    border-width: 2px;
    cursor: pointer;
    color: $white;
    width: 150px;
    margin: 0 auto;
    margin-top: 3vh;
    padding: 10px;
    text-transform: uppercase;
    transition: .25s all;
  }
  button:hover{
    background: $white;
    border-color: $blk;
    color: $blk;
    font-weight: $fw-1;
  }
  
  button:focus {outline:none;}
  
}
/**********************
****  END CONTACT  ****
**********************/

/*********************
**** START FOOTER ****
*********************/
.footer {
  background: $blk;
  color: white;
  padding: 14vh 0px 8vh 0px;
  
  .title, .note, .follow{
    display: block;
  }
  
  .title{
    font-size: 35px;
    letter-spacing: 1px;
    b{
      font-weight: $fw-3;
    }
  }
  
  .note{
    color: $grey;
    font-size: 14px;
    font-weight: $fw-1;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
  }
  
  .follow{
    color: $grey;
    font-size: 14px;
    margin-top: 30px;
  }
  
  .social-media{
    margin-top: 22px;
    .social-link{
      font-size:28px;
      margin: 0 8px;
      
      a{
        color: $white;
        text-decoration: none;
        transition: .25s all;
      }
      
      a:hover{
        color: $red;
      }
    }
  }
  
  
}
/*********************
****  END FOOTER  ****
*********************/

/****************************
**** GENERIC CSS CLASSES ****
****************************/

.card-shadow {
  @include cardShadow(3);
}

.desktop-left-padding {
  @media (min-width: 567px) {
    padding-left: $desktop-nav-width;
  }
}


@media (max-width: 567px) {
  .hidden-sm-low {
    display: none;
  }
}

.hidden-sm-up {
  display: block;
}

@media (min-width: 567px) {
  .hidden-sm-up {
    display: none;
  }
}
