$color-1: #56CBF9;
$red: #E3001C;
$grey-1: #6F6F6F;
$grey-2: #DEDEDE;

$font-1: 'Roboto',
sans-serif;
body {
  font-family: $font-1;
}

.small-gutter{
  margin-right: 3px;
  margin-left: 3px;

  .col,
  [class*="col-"] {
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
  }
}

h1 {
  font-size: 3em;
  font-weight: 600;
  letter-spacing: -1px;
  color:black;
}

.navigation {
  -webkit-transition: background-color .5s;
  /* Safari */
  transition: background-color .5s;
  padding-bottom: 16px;

  .navbar{
    padding: 0%;
    padding-top: 18px;
    padding-bottom: .5%;
  }
  button {
    margin-top: 2%;
    border-color: transparent !important;
  }
  .navbar-brand a{
    color: black;
    font-weight: 600;
  }
  .rLogo {
    background-color: $red;
    color: white !important;
    font-weight: 400 !important;
    margin-right: 15px;
    padding: 10px 12px;
  } 
  span {
    color: black;
  }
  .navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: 400;
    letter-spacing: 1.5px;
    font-size: .9em;
    text-transform: uppercase;
    margin-left: 25px;
    -webkit-transition: color .25s;
    /* Safari */
    transition: color .25s;
  }
  .navbar-toggler-right{
    right: 0rem;
  }
  .navbar-toggler{
    padding: 0px;
  }
  .nav-link:hover,
  .nav-link:focus {
    color: black !important;
  }
  li {
    font-size: .9em;
  }
}

.frontpage {
  color: black;
  height: 100vh;
  padding-top: 30vh;
  hr {
    float: left;
    border: none;
    height: 10px;
    /* Set the hr color */
    color: #333;
    /* old IE */
    background-color: #333;
    /* Modern Browsers */
  }
  button {
    border-style: none;
    font-family: $font-1;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 16px 3px;
    padding: 8px 25px 7px 25px;
    text-transform: uppercase;
  }
  .workButton {
    color: black;
    border-style: solid;
    border-color: black;
    background-color: white !important;
    -webkit-transition: color .4s, background-color .4s;
    /* Safari */
    transition: color .4s, background-color .4s;
  }
  .workButton:hover {
    color: white;
    border-color: $red;
    background-color: $red !important;
  }
  .contactButton {
    color: white;
    background-color: black;
    border-style: solid;
    border-color: black;
    -webkit-transition: color .4s, background-color .4s;
    /* Safari */
    transition: color .4s, background-color .4s;
  }
  .contactButton:hover {
    color: white;
    background-color: $red;
    border-color: $red;
  }
}

.underline {
  position: relative;
  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    &:after {
      width: 100%;
    }
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 4px;
    height: 3px;
    background-color: #000;
    width: 0;
    transition: width .4s;
  }
}

.thin-underline {
  position: relative;
  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    &:after {
      width: 100%;
    }
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 4px;
    height: 1px;
    background-color: #000;
    width: 0;
    transition: width .4s;
  }
}

.work{
  img{
    width:100%;
  }
  h1{
    color:$red;
    padding-top: 90px;
  }
  
  p{
    font-weight: 300;
    font-size: 1.1em;
    margin-top: 25px;
    color: $grey-1;
    line-height: 35px;
    text-align: justify;
  }
}
.about{
  .top-padding{
    padding-top: 90px;
  }
  h1{
    color:$red;
    padding-top: 90px;
  }
  p{
    font-weight: 300;
    font-size: 1.1em;
    margin-top: 25px;
    color: $grey-1;
    line-height: 35px;
    text-align: justify;
  }
  
  img{
    width: 100%;
  }
  
  h3{
    margin-top: 40px;
  }
}



.contact{
  margin-top: 65px;
  padding-top: 120px;
  margin-bottom: 200px;
  h1{
    color: $red;
  }
  p{
    font-weight: 300;
    font-size: 1.1em;
    margin-top: 40px;
    margin-bottom: 80px;
    color: $grey-1;
    line-height: 35px;
  }
  input, textarea{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 50px;
    font-family: $font-1;
    border: none;
    border-bottom: solid;
    border-color: $grey-2;
    border-width: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: border-color .4s;
    /* Safari */
    transition: border-color .4s;
  }
  .submit{
    margin-top: 40px;
    background-color: transparent;
    width: 220px;
    border-style: none;
    border-left: solid;
    border-width: 8px;
    border-color: $red;
    font-size: 1.8em;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
  }
  .fa-long-arrow-right{
    color: $red;
    font-size: 1.3em;
    padding-left: 15px;
  }
  input:hover, textarea:hover{
    border-color: $grey-1;
  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: black;
    font-size: 1.1em;
  }

  input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
    color: black;  
    font-size: 1.1em;
  }

  input::-moz-placeholder, textarea::-moz-placeholder {  /* Firefox 19+ */
    color: black; 
    font-size: 1.1em; 
  }

  input:-ms-input-placeholder {  
    color: black;  
    font-size: 1.1em;
  }
  
}






















.footer {
  padding-top: 30px;
  padding-bottom: 1px;
  h4 {
    color: white;
    padding: 0%;
    font-size: 1em;
  }
  p {
    color: #aaa;
    font-size: .8em;
    font-weight: 400;
    margin-top: 15px;
  }
  background-color: black;
  font-family: $font-1;
}








.hidden-mobile {
  display: none;
}

@media only screen and (min-width: 768px) {
  h1{
    font-size: 5.5em;
  }
  .hidden-mobile {
    display: block;
  }
  .navigation{
    .top-line{
      padding-top: 0px;
    }
  }
  
  .contact, .about{
    .container{
      width: 60%;
    }
    
  }
}