@charset "UTF-8";
body {
  background-color: #0035AE;
}

#navigation {
  padding: 3% 3%;
  font-family: 'Sorts Mill Goudy', serif;
}

#navigation .navbar {
  border-style: none;
  border-radius: 0;
  background-color: #0035AE;
}

#navigation .navbar-brand {
  background-color: #FFC34C;
  color: #0035AE;
  font-weight: bold;
}

#navigation a {
  color: white;
  font-size: 175%;
}

#navigation .nav a:hover {
  color: grey;
  font-size: 160%;
}

#homePage .jumbotron {
  margin-top: 14%;
  font-family: 'Sorts Mill Goudy', serif;
  background-color: #0035AE;
  padding: 0%;
  margin-bottom: 10%;
}

#homePage h1 {
  color: #FFC34C;
  font-size: 450%;
  font-weight: bold;
}

#homePage p {
  color: white;
}

#homePage a {
  width: 30px;
  margin-right: 1%;
  color: #6090FE;
  font-size: 240%;
  margin-left: 1%;
}

#homePage #line {
  float: left;
}

#homePage #facebookLogo {
  margin-left: 6% !important;
}

#aboutPage {
  margin-top: 5%;
  font-family: 'Sorts Mill Goudy', serif;
}

#aboutPage #aboutHeader h1 {
  padding: 10%;
}

#aboutPage h1 {
  color: white;
  font-size: 450%;
  font-weight: bold;
  line-height: 130%;
}

#aboutPage h3 {
  color: white;
  margin-top: 6%;
  font-size: 220%;
  line-height: 130%;
  font-family: 'Oswald', sans-serif;
}

#aboutPage .col-sm-1 {
  color: white;
  font-family: 'Oswald', sans-serif;
  writing-mode: tb-rl;
  transform: rotate(180deg);
  margin-top: 16%;
}

#aboutPage p {
  color: #6090FE;
  font-size: 150%;
  font-family: 'Crete Round', serif;
}

#aboutPage #aboutMeSection img {
  width: 100%;
}

#aboutPage #aboutMeSection h3 {
  padding-top: 10%;
}

#aboutPage #aboutMeSection p {
  padding-top: 6%;
  text-align: justify;
  text-justify: inter-word;
}

#aboutPage #aboutMeSection p u {
  color: white;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}

#aboutPage #resume {
  margin-top: 5%;
}

#divider {
  margin-top: 8%;
  margin-bottom: 8%;
  border: none;
  border-top: medium double #333;
  color: #6090FE;
  text-align: center;
  background-color: #6090FE;
  width: 35%;
  height: 2px;
  border-style: none;
}

#divider:after {
  content: "ya";
  font-family: 'Sorts Mill Goudy', serif;
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #0035AE;
}

#aboutPage h4 {
  color: #A7C1FC;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  font-size: 130%;
}

#aboutPage h5 {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  font-size: 200%;
}

#aboutPage h6 {
  color: #6090FE;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  font-size: 115%;
}

#aboutPage #resume h1 {
  margin-top: 3%;
  margin-bottom: 2%;
}

#aboutPage #resume .row {
  padding-top: 2%;
  padding-bottom: 2%;
  border-top: solid;
  border-width: 2px;
  border-color: #6090FE;
}

#portfolioPage h1 {
  color: white;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 500%;
  font-weight: bold;
}

#portfolioPage .row {
  margin-top: 0%;
  margin-bottom: 0%;
}

#portfolioPage #projects .col-sm-4 {
  margin-top: 5%;
}

#portfolioPage #projects .col-sm-12 {
  background-color: #00164A;
  padding: 15%;
}

#portfolioPage #projects h3 {
  color: white;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 200%;
}

#portfolioPage #projects hr {
  width: 30%;
  margin-left: 0;
  text-align: left;
  border-color: #FFC34C;
  background-color: #FFC34C;
  height: .5px;
}

#portfolioPage #projects h4 {
  color: #A7C1FC;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
}

#portfolioPage #projects p {
  color: #FFC34C;
  font-family: 'Sorts Mill Goudy', serif;
  margin-top: 8%;
  font-size: 120%;
  text-align: justify;
  text-justify: inter-word;
}

#portfolioPage button {
  margin-top: 10%;
  font-size: 120%;
  font-family: 'Sorts Mill Goudy', serif;
  background-color: #FFC34C;
  color: #0035AE;
  border-style: none;
  padding: 4% 2% 2% 2%;
}

#portfolioPage .hiddenCol {
  background-color: #0035AE !important;
}

/*------- Contact ------*/
#contactPage {
  padding: 0% 5% 3% 5%;
  font-family: 'Sorts Mill Goudy', serif;
  width: 90%;
  margin-top: 5%;
  animation-duration: 2s;
}

#contactPage h1 {
  color: white;
  font-size: 500%;
  font-weight: bold;
  line-height: 130%;
}

#contactPage p {
  font-size: 140%;
  color: white;
}

#contactPage .container-fluid {
  padding: 1% 0% 1% 0%;
  margin: 0% 0% 2% 0%;
}

input[type=text] {
  width: 100%;
  display: block;
  border: none;
  font-size: 140%;
  border-bottom: thin solid #FFC34C;
  color: #FFC34C;
  background-color: #0035AE;
}

#contactForm button {
  background-color: #FFC34C;
  border: none;
  color: #0035AE;
  padding: 1% 2%;
  font-size: 140%;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

textarea {
  width: 100%;
  display: block;
  border: none;
  font-size: 140%;
  border-bottom: thin solid #FFC34C;
  color: #FFC34C;
  background-color: #0035AE;
  height: 50px;
}

/*---- End Contact -----*/
footer {
  background-color: #00164A;
  color: white;
  font-family: 'Sorts Mill Goudy', serif;
  letter-spacing: 1px;
  padding: 4% 0%;
  font-size: 180%;
}

footer a {
  color: #FFC34C;
  font-size: 100%;
  padding: 2% .5%;
}

footer hr {
  width: 50%;
}
